fqdn==1.5.1
geopandas==0.12.2
isoduration==20.11.0
jsonpointer==2.3
leafmap==0.18.8
pip-chill==1.0.1
pysocks==1.7.1
python-dotenv==1.0.0
sqlalchemy==2.0.4
streamlit==1.19.0
uri-template==1.2.0
watchdog==2.3.0
web3==5.31.3
webcolors==1.12
