fqdn==1.5.1
geopandas==0.12.2
hvplot==0.8.1
isoduration==20.11.0
jsonpointer==2.3
leaflet==0.0.3
leafmap==0.18.8
pip-chill==1.0.1
pysocks==1.7.1
streamlit-toggle-switch==1.0.2
uri-template==1.2.0
webcolors==1.13
