
footer {visibility: hidden;}


/* Form */

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

/* Fixes row gap in container */
.css-k1ih3n {
    gap: 0.2rem;
    row-gap: 0.2rem;
    column-gap: 0.2rem;
    padding: 2rem 4rem 2rem;
}

/* .css-k1ih3n {
    width: 100%;
    padding: 6rem 2rem 6rem;
    padding-top: 3rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
    padding-left: 2rem;
    min-width: auto;
    max-width: initial;
}

.css-keje6w {
    border: 3px solid rgb(150, 150, 150);
    padding: 1em;
    background: rgba(0, 87, 87, 0.2);
    border-radius: 1em;
}

.css-ocqkz7 {
    border: 2px solid rgb(150, 150, 150);
    padding: 1.5em;
    background: rgba(14, 61, 123, 0.2);
    border-radius: 0.5em;
}

.css-1kyxreq {
    max-width: 120px;
    height: auto;
    text-align: right;
}

.css-1v0mbdj {
    vertical-align: middle;
}

.css-1v0mbdj img {
    max-width: 120px;
    height: auto;
}

.css-1b5m1s4 {
    gap: 0.2rem;
    row-gap: 0.2rem;
    column-gap: 0.2rem;
}

.css-kb7dt5 .stButton{
    margin-top: 1em;
} */
